# eclipse
.metadata
.settings
.classpath
.project

# tomcat
Servers

# java
bin
build
*.class

auctionBay/uploads/*
!auctionBay/uploads/profile/
auctionBay/uploads/profile/*
!auctionBay/uploads/profile/default-profile.png
