<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.auctionBay.board.model.mapper.CommentMapper">
	
	<insert id="insertComment" useGeneratedKeys="true" keyProperty="commentId" keyColumn="comment_id">
		
		INSERT INTO COMMENTS (PRODUCT_ID, WRITER_NO, CONTENT)
		VALUES (#{productId}, #{writerNo}, #{content})
	</insert>
	
	<select id="selectCommentById" parameterType="long" resultType="CommentDTO">
		SELECT C.COMMENT_ID, C.PRODUCT_ID, C.WRITER_NO, C.CONTENT, C.IS_DELETED, C.CREATED_AT,
			   TO_CHAR(C.CREATED_AT, 'YYYY-MM-DD HH24:MI') AS CREATED_AT_STR,
			   case
			    	when U.IS_DELETED = 1 then '탈퇴한 회원'
			    	else U.NICKNAME
		    	end as WRITER_NICKNAME
		  FROM  COMMENTS C
		  	LEFT JOIN USERS U ON C.WRITER_NO = U.USER_NO
		 WHERE C.COMMENT_ID = #{commentId}
	</select>
	
	<delete id="deleteComment" parameterType="long">
		UPDATE COMMENTS
		SET IS_DELETED = 1
		WHERE COMMENT_ID = #{commentId}
	</delete>
	
	<select id="selectCommentsByProductId" parameterType="long" resultType="CommentDTO">
		SELECT C.COMMENT_ID, C.PRODUCT_ID, C.WRITER_NO, C.CONTENT, C.IS_DELETED, C.CREATED_AT,
			   TO_CHAR(C.CREATED_AT, 'YYYY-MM-DD HH24:MI') AS CREATED_AT_STR, C.IS_DELETED,
			   case
			    	when U.IS_DELETED = 1 then '탈퇴한 회원'
			    	else U.NICKNAME
		    	end as WRITER_NICKNAME
		  FROM COMMENTS C
		  	LEFT JOIN USERS U ON C.WRITER_NO = U.USER_NO
		 WHERE C.PRODUCT_ID = #{productId} 
		 ORDER BY C.COMMENT_ID ASC	
	</select>
	
</mapper>