<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.auctionBay.review.model.mapper.TxHistoryMapper">
	
	<!-- sql 태그: 검색 조건 정의 -->
	<sql id="searchWhere">
		<if test="keyword != null and keyword != ''">
			and (U.NICKNAME like '%' || #{keyword} || '%'
			or P.TITLE like '%' || #{keyword} || '%')
		</if>
	</sql>
	
	<!-- 거래내역 리스트 조회 -->
	<select id="selectTxHistories" parameterType="SearchCondition" resultType="TxHistoryDTO">
		select HISTORY_ID, PRODUCT_ID, 
		        case 
		            when T.TRADE_TYPE = 'SELL'then '판매'
		            when T.TRADE_TYPE = 'BUY' then '구매'
		            else '경매'
		        end as "TRADE_TYPE",
		        SELLER_NO, BUYER_NO, FINAL_PRICE,
		        to_char(COMPLETED_AT, 'YYYY-MM-DD HH24:MI') as "COMPLETED_AT_STR",
		        COMPLETED_AT, P.TITLE,
		       	case
			    	when U.IS_DELETED = 1 then '탈퇴한 회원'
			    	else U.NICKNAME
			    end as "PARTNER_NICKNAME"	
		from TRANSACTION_HISTORY T
		    join PRODUCTS P using (PRODUCT_ID)
		    join USERS U on U.USER_NO = case
		            when T.BUYER_NO = #{userNo} then T.SELLER_NO
		            when T.SELLER_NO = #{userNo} then T.BUYER_NO
		        end
		where (BUYER_NO = #{userNo} or SELLER_NO = #{userNo})
		<include refid="searchWhere" />
		order by COMPLETED_AT desc
		
		offset #{offset} rows
		fetch next #{size} rows only
	</select>
	
	<!-- 거래내역 개수 조회 (페이징 계산용) -->
	<select id="selectTxHistoriesCount" parameterType="SearchCondition">
		select count(*)
		from TRANSACTION_HISTORY T
		    join PRODUCTS P using (PRODUCT_ID)
		    join USERS U on U.USER_NO = case
		    		when T.BUYER_NO = #{userNo} then T.SELLER_NO
		            when T.SELLER_NO = #{userNo} then T.BUYER_NO
		        end
		where (BUYER_NO = #{userNo} or SELLER_NO = #{userNo})
		<include refid="searchWhere" />
	</select>
	
	<!-- 거래내역 상세 조회 -->
	<select id="selectTxHistoryById" parameterType="long" resultType="TxHistoryDTO">
		select *
		from TRANSACTION_HISTORY
		where HISTORY_ID = #{historyId}
	</select>
	
	<!-- 거래내역 추가 -->
	<insert id="insertTxHistory" parameterType="TxHistoryDTO">
		<!-- historyId는 자동생성되므로 제외 -->
		insert into TRANSACTION_HISTORY (PRODUCT_ID, TRADE_TYPE, SELLER_NO, BUYER_NO, FINAL_PRICE)
		values (#{productId}, #{tradeType}, #{sellerNo}, #{buyerNo}, #{finalPrice})
	</insert>
	
	<!-- 거래 후기 작성 여부 조회 -->
	<select id="selectReviewWrited" parameterType="long">
		select case
	        when R.REVIEW_ID is not null then 'true'
	        else 'false'
    	end as reviewWrited
		from TRANSACTION_HISTORY T
		    join PRODUCTS P on T.PRODUCT_ID = P.PRODUCT_ID
		    left join REVIEWS R on T.PRODUCT_ID = R.PRODUCT_ID and R.REVIEWER_NO = 1
		where T.HISTORY_ID = #{historyId}
	</select>

</mapper>