<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.auctionBay.user.model.mapper.UserMapper">

	<insert id="insertUser" >
		INSERT INTO USERS (user_id, password, email, nickname, phone_number, profile_img, region_address) 
		VALUES ( #{userId}, #{password}, #{email}, #{nickname}, #{phoneNumber}, #{profileImg}, #{regionAddress} )
	</insert>
	
	<select id="countByUserId" parameterType="string" resultType="int">
		SELECT COUNT(*) FROM USERS WHERE USER_ID = #{userId}
	</select>
	
	<select id="countByNickname" parameterType="string" resultType="int">
		SELECT COUNT(*) FROM USERS WHERE NICKNAME = #{nickname}
	</select>
	
	<select id="nicknameCheck" parameterType="long" resultType="string">
		select NICKNAME
		from USERS
		where USER_NO = #{userNo}
	</select>
	
	<select id="countByEmail" parameterType="string" resultType="int">
		SELECT COUNT(*) FROM USERS WHERE EMAIL = #{email}
	</select>
	
	<select id="emailCheck" parameterType="long" resultType="string">
		select EMAIL
		from USERS
		where USER_NO = #{userNo}
	</select>
	
	<select id="countByPhoneNumber" parameterType="string" resultType="int">
		SELECT COUNT(*) FROM USERS WHERE PHONE_NUMBER = #{phoneNumber}
	</select>
	
	<select id="phoneNumberCheck" parameterType="long" resultType="string">
		select PHONE_NUMBER
		from USERS
		where USER_NO = #{userNo}
	</select>
	
	
	<select id="selectByUserId" parameterType="string" resultType="UserDTO">
		SELECT user_no, user_id, password, email, nickname, phone_number, profile_img, region_address, is_deleted
    	FROM users
    	WHERE user_id = #{userId}
      	AND is_deleted = 0
	</select>
	
	<update id="updateUser" parameterType="UserDTO">
		update USERS
			set PROFILE_IMG = #{profileImg}, EMAIL = #{email}, 
				NICKNAME = #{nickname},	PHONE_NUMBER = #{phoneNumber},
				REGION_ADDRESS = #{regionAddress}
		where USER_NO = #{userNo}
	</update>
	
	<select id="selectByUserNo" parameterType="long" resultType="UserDTO">
		select user_no, user_id, password, email, nickname, phone_number, profile_img,
				region_address, is_deleted
		from USERS
		where USER_NO = #{userNo}
	</select>
	
	<update id="updateUserWithdrawal" parameterType="long">
		update USERS
			set IS_DELETED = 1, DELETED_AT = sysdate
		where USER_NO = #{userNo}
	</update>


</mapper>